<!-- jQuery -->
<script src="__PUBLIC__/plugins/sbadmin/vendor/jquery/jquery.min.js"></script>


<script src="__PUBLIC__/plugins/sbadmin/vendor/bootstrap/js/bootstrap.min.js"></script>

<script src="__PUBLIC__/plugins/kindeditor/kindeditor-all.js"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/plugins/sbadmin/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__PUBLIC__/plugins/sbadmin/dist/js/sb-admin-2.js"></script>


<script src="__PUBLIC__/plugins/datepicker/js/bootstrap-datetimepicker.js"></script>

<script src="__PUBLIC__/plugins/datepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script src="__PUBLIC__/plugins/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>


<script type="text/javascript" src="__PUBLIC__/wmbackstage/js/dialog/layer/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/wmbackstage/js/dialog/dialog.js"></script>
<script src="__PUBLIC__/wmbackstage/js/common.js"></script>


<script src="__PUBLIC__/wmbackstage/js/image.js" type="text/javascript"></script>



</body>

</html>

