<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>中点通 - 网盟后天管理系统</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUBLIC__/css/bootstrap/bootstrap.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="__PUBLIC__/plugins/sbadmin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUBLIC__/plugins/sbadmin/dist/css/sb-admin-2.css" rel="stylesheet">


    <link href="__PUBLIC__/plugins/datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="__PUBLIC__/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="__PUBLIC__/wmbackstage/css/pagination.css" rel="stylesheet">

    <link href="__PUBLIC__/wmbackstage/css/common.css" rel="stylesheet">


    <link rel="stylesheet" type="text/css" href="__PUBLIC__/plugins/uploadify/uploadify.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>